header
  padding-top 100px
  .logo
    a, a:link, a:visited, a:active
      border-bottom none
    margin 0 auto
    text-align center
    .logo-icon
      font-size 60px
      color $mainColor1
      text-shadow $titleTextShadow
    img
      width 100px
      height 100px
      border-radius 50%
    .title
      line-height 100px
      color $mainColor1
      font-family $fontTitle
      text-shadow $titleTextShadow
  #local-search-input
    border: none
    outline: none
    box-shadow: $titleTextShadow
    width: 200px
    margin: 0 auto
    opacity: 0.6
  #local-search-result
    box-shadow: $titleTextShadow
    background-color: #18414e
    margin-top: 30px
    font-family: "Orbitron", sans-serif
    font-size: 1em
    color: $mainColor1
    text-align: justify
    display: none
    max-height: 50vh
    overflow-x: auto
    border: 1px solid $mainColor1
    border-radius: 8px
    padding: 15px